Repository critocrito/data-scores-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.css": ["stylelint --fix", "git add"],
  "package.json": ["prettier-package-json --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  ".*rc": ["prettier --parser json --write", "git add"]
}

refactor(client): insights use the new styling
  public/images/insight.png
  src/client.css
  src/components/DocumentsDetails/index.js
  src/components/DocumentsTable/index.js
  src/components/DocumentsTableRow/index.js
  src/components/Header/index.css
  src/components/Header/index.js
  src/components/Insights/index.js
  src/components/InsightsHero/index.css
  src/components/InsightsHero/index.js
  src/components/InsightsNav/index.js
  src/components/InsightsStats/file-alt.svg
  src/components/InsightsStats/index.css
  src/components/InsightsStats/index.js
  src/lib/utils.js
Due: eslint --fix, stylelint --fix

refactor(client): use the new styling for the document index
  package.json
  public/images/search.png
  src/components/DocumentsFilters/index.css
  src/components/DocumentsFilters/index.js
  src/components/DocumentsFiltersButton/angle-double-down.svg
  src/components/DocumentsFiltersButton/angle-double-up.svg
  src/components/DocumentsFiltersButton/index.css
  src/components/DocumentsFiltersButton/index.js
  src/components/DocumentsFiltersSelection/index.css
  src/components/DocumentsFiltersSelection/index.js
  src/components/DocumentsIndex/index.css
  src/components/DocumentsIndex/index.js
  src/components/Header/index.css
  src/components/Header/index.js
  src/lib/store.js
Due: eslint --fix, stylelint --fix, prettier-package-json --write, prettier --write

feat(client): use dedicated routes for insights
  src/components/DataScores/index.js
  src/components/Insights/index.js
  src/components/InsightsNav/index.js
  src/lib/elastic-queries.js
  webpack.config.js
Due: eslint --fix

refactor(client): hide marker areas and use primary color for selections
  src/client.css
  src/components/InsightsVizMap/index.js
  src/components/InsightsVizMapMarker/index.css
Due: eslint --fix, stylelint --fix

feat: removed categories and added departments views
  restclient
  src/categories.js
  src/components/DataScores/index.js
  src/components/DocumentsDetails/index.js
  src/components/DocumentsFilters/index.js
  src/components/DocumentsTable/index.js
  src/components/DocumentsTableRow/index.js
  src/components/Insights/index.js
  src/components/InsightsDepartments/index.js
  src/components/InsightsNav/index.js
  src/components/InsightsVizBarChart/index.js
  src/lib/documents.js
  src/lib/elastic-queries.js
  src/lib/insights.js
  src/lib/requests.js
  src/lib/search.js
  src/lib/store.js
  src/lib/types.js
  src/routes/document.js
  src/routes/insights.js
  src/server.js
Due: eslint --fix

feat(server): provide highlights for search results
  src/lib/elastic-queries.js
  src/lib/search.js
  src/lib/types.js
Due: eslint --fix

refactor(client): extracted pagination into a HOC
  src/components/DocumentsTable/index.js
  src/components/pageableList/index.js
Due: eslint --fix

feat(client): view search results using cards
  src/client.css
  src/components/DocumentsCards/index.js
  src/components/DocumentsCardsRow/index.css
  src/components/DocumentsCardsRow/index.js
  src/components/DocumentsIndex/index.js
  src/components/DocumentsSearchResults/bars.svg
  src/components/DocumentsSearchResults/grid.svg
  src/components/DocumentsSearchResults/index.css
  src/components/DocumentsSearchResults/index.js
  src/components/InsightsAuthorities/index.js
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsDepartments/index.js
  src/components/pageableList/index.js
  src/lib/documents.js
  src/lib/elastic-queries.js
  src/lib/search.js
  src/lib/store.js
  src/lib/types.js
Due: eslint --fix, stylelint --fix

feat: allow for phrase searches
  src/lib/elastic-queries.js
Due: eslint --fix

fix(client): use the last search term in the search results
  src/components/DocumentsIndex/index.js
  src/components/DocumentsSearchResults/index.js
Due: eslint --fix

refactor: remove the fuzziness for search matches
  src/lib/elastic-queries.js
Due: eslint --fix

feat(client): added filter tags
  src/components/DocumentsIndex/index.js
  src/components/FilterTags/index.js
  src/components/InsightsAuthorities/index.js
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsDepartments/index.js
Due: eslint --fix

fix(client): adopted some styles for filter tags
  src/components/FilterTags/index.js
Due: eslint --fix

feat(server): tag every department insight
  src/department-tags.js
  src/lib/insights.js
  src/lib/types.js
  src/routes/insights.js
  src/server.js
Due: eslint --fix

feat(client): added treemap visualization for departments
  src/components/InsightsDepartments/index.js
  src/components/InsightsVizTreeMap/index.js
Due: eslint --fix

fix: added missing dependencies for vega
  package.json
Due: prettier-package-json --write, prettier --write

feat(client): placed edited texts
  src/components/DocumentsIndex/index.js
  src/components/DocumentsSearchResults/index.js
  src/components/Insights/index.js
  src/components/InsightsNav/index.js
Due: eslint --fix

refactor: handle document source for media and foi as well
  src/lib/search.js
  src/lib/utils.js
Due: eslint --fix

fix: map mastodon c using it's good name
  src/company-systems-mapping.js
Due: eslint --fix

fix: source handling for documents
  src/lib/documents.js
Due: eslint --fix

fix(client): added a missing space in the text on the insights page
  src/components/Insights/index.js
Due: eslint --fix

refactor(client): added bar chart as replacement to the treemap
  src/components/InsightsDepartments/index.js
  src/components/InsightsVizBarChart/index.js
Due: eslint --fix

fix(client): show all labels in bar related charts
  src/components/InsightsVizBarChart/index.js
  src/components/InsightsVizStackedGroups/index.js
Due: eslint --fix

feat(client): added navigation links to insights and case studies
  src/components/CaseStudies/index.js
  src/components/DataScores/index.js
  src/components/Header/index.js
Due: eslint --fix

feat(client): select departments on the graph to filter
  src/lib/documents.js
  src/lib/elastic-queries.js
  src/lib/requests.js
  src/lib/store.js
  src/routes/document.js
Due: eslint --fix

feat(client): added new favicon
  public/favicon.ico
Due: none

feat(client): added a footer to all pages
  public/images/logo.png
  src/components/DocumentsDetails/index.js
  src/components/DocumentsIndex/index.js
  src/components/Footer/index.js
  src/components/Insights/index.js
Due: eslint --fix

feat(client): supplied a case studies page
  public/images/case-studies.png
  src/components/CaseStudies/index.js
  src/components/DataScores/index.js
Due: eslint --fix

chore: removed unneeded dependencies and treemap code
  package.json
  src/components/InsightsVizTreeMap/index.js
Due: eslint --fix, prettier-package-json --write, prettier --write

feat(client): render a double bar chart for companies and systems
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsVizDoubleBarChart/index.js
  src/components/InsightsVizStackedGroups/index.js
Due: eslint --fix

Changing styles
  public/index.html
  src/components/DocumentsFilters/index.css
  src/components/DocumentsFilters/index.js
  src/components/DocumentsFiltersCheckbox/index.js
  src/components/DocumentsFiltersItem/index.js
  src/components/DocumentsFiltersSelection/index.js
  src/components/DocumentsIndex/index.css
  src/components/DocumentsIndex/index.js
  src/components/DocumentsTable/index.css
  src/components/DocumentsTable/index.js
  src/components/FilterTags/index.js
  src/components/Header/index.css
  src/components/Header/index.js
  src/components/Insights/index.css
  src/components/Insights/index.js
  src/components/InsightsHero/index.css
  src/components/InsightsHero/index.js
  src/components/InsightsNav/index.js
Due: eslint --fix, stylelint --fix

add ico
  public/images/Ico@2x.png
Due: none

feat(client): many style changes
  public/images/Ico@2x.png
  public/index.html
  src/components/DocumentsFilters/index.css
  src/components/DocumentsFilters/index.js
  src/components/DocumentsFiltersCheckbox/index.js
  src/components/DocumentsFiltersItem/index.js
  src/components/DocumentsFiltersSelection/index.js
  src/components/DocumentsIndex/index.css
  src/components/DocumentsIndex/index.js
  src/components/DocumentsTable/index.css
  src/components/DocumentsTable/index.js
  src/components/FilterTags/index.js
  src/components/Header/index.css
  src/components/Header/index.js
  src/components/Insights/index.css
  src/components/Insights/index.js
  src/components/InsightsHero/index.css
  src/components/InsightsHero/index.js
  src/components/InsightsNav/index.js
Due: eslint --fix, stylelint --fix

feat(client): open document details in a new tab
  src/components/DocumentsCardsRow/index.js
  src/components/DocumentsTableRow/index.js
Due: eslint --fix

feat(client): some style changes
  src/components/CaseStudies/index.js
  src/components/DocumentsDetails/index.js
  src/components/DocumentsTableRow/index.js
  src/components/Header/index.js
  src/components/Insights/index.js
Due: eslint --fix

feat(client): added the home page
  public/images/home-case-studies.png
  public/images/home-documents-index.png
  public/images/home-insights.png
  src/components/CaseStudies/index.js
  src/components/DataScores/index.js
  src/components/Home/index.js
Due: eslint --fix

fix(client): some styles that looked bad on mobile
  src/components/Home/index.js
Due: eslint --fix

feat: remove footer
  src/components/CaseStudies/index.css
  src/components/CaseStudies/index.js
  src/components/DocumentsIndex/index.js
  src/components/Home/index.js
Due: eslint --fix, stylelint --fix

fix(server): apply filters to search that has more than two words
  src/lib/elastic-queries.js
Due: eslint --fix

fix: use and as the default operator for hte search
  src/lib/elastic-queries.js
Due: eslint --fix
