Repository critocrito/data-scores-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.css": ["stylelint --fix", "git add"],
  "package.json": ["prettier-package-json --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  ".*rc": ["prettier --parser json --write", "git add"]
}

fix(client): link headline to document details in card
  src/components/DocumentsCardsRow/index.js
Due: eslint --fix

refactor(client): treat companies and systems uppercase
  src/company-systems-mapping.js
  src/components/InsightsVizDoubleBarChart/index.js
Due: eslint --fix

feat(server): ignore blacklisted documents
  src/lib/elastic-queries.js
Due: eslint --fix

feat: show the source of auxiliary websites
  src/lib/utils.js
Due: eslint --fix

feat: better color choices for the graph
  src/company-systems-mapping.js
  src/components/InsightsVizBarChart/index.js
  src/components/InsightsVizDoubleBarChart/index.js
Due: eslint --fix

refactor: moved elasticsearch test requests to the data repository
  restclient
Due: none

fix(server): truly use and to combine search terms
  src/lib/elastic-queries.js
Due: eslint --fix

feat: extended the company/system mappings
  src/company-systems-mapping.js
Due: eslint --fix

refactor: removed outdated comment
  src/company-systems-mapping.js
Due: eslint --fix

chore: adopted package scripts
  package.json
Due: prettier-package-json --write, prettier --write

feat: replaced departments bar chart with treemap
  package.json
  src/components/InsightsDepartments/index.js
  src/components/InsightsVizBarChart/index.js
  src/components/InsightsVizTreeMap/index.js
  src/department-tags.js
Due: eslint --fix, prettier-package-json --write, prettier --write

Update index.js
  src/components/CaseStudies/index.js
Due: eslint --fix

content and styles
  package.json
  public/images/case_avon.png
  public/images/case_bristol.png
  public/images/case_camdem.png
  public/index.html
  src/client.css
  src/company-systems-mapping.js
  src/components/CaseStudies/index.js
  src/components/DocumentsIndex/index.js
  src/components/Footer/index.js
  src/components/Home/index.js
  src/components/Insights/index.js
  src/components/InsightsNav/index.js
Due: eslint --fix, stylelint --fix, prettier-package-json --write, prettier --write

chore: imported olis branch
  package.json
  public/images/case_avon.png
  public/images/case_bristol.png
  public/images/case_camdem.png
  public/index.html
  src/client.css
  src/company-systems-mapping.js
  src/components/CaseStudies/index.js
  src/components/DocumentsIndex/index.js
  src/components/Footer/index.js
  src/components/Home/index.js
  src/components/Insights/index.js
  src/components/InsightsNav/index.js
Due: eslint --fix, stylelint --fix, prettier-package-json --write, prettier --write

feat(client): added methodology page
  src/components/CaseStudies/index.js
  src/components/DataScores/index.js
  src/components/Header/index.js
  src/components/InsightsDepartments/index.js
  src/components/Methodology/index.js
Due: eslint --fix

refactor(client): treemap hover in yellow
  src/components/InsightsVizTreeMap/index.js
Due: eslint --fix

refactor(client): renamed companies to organisations
  src/components/DocumentsCardsRow/index.js
  src/components/DocumentsDetails/index.js
  src/components/DocumentsTable/index.js
  src/components/Home/index.js
  src/components/InsightsNav/index.js
Due: eslint --fix

fix(client): fixed the layout of the methodology page
  src/components/Methodology/index.js
Due: eslint --fix

refactor: adapted to new source scheme
  src/lib/utils.js
Due: eslint --fix

fix: list the right amount of companies/systems documents
  src/lib/elastic-queries.js
Due: eslint --fix

fix: clear filters on page changes
  src/components/DocumentsIndex/index.js
  src/components/InsightsAuthorities/index.js
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsDepartments/index.js
Due: eslint --fix

fix: removed EYES and HART from backend mapping as well
  src/company-systems-mapping.js
Due: eslint --fix

feat: filter documents by source
  src/components/DocumentsFilters/index.js
  src/components/DocumentsIndex/index.js
  src/components/DocumentsSearchResults/index.js
  src/lib/elastic-queries.js
  src/lib/store.js
Due: eslint --fix

fix: scrolling during pagination, styles and pagination
  src/components/DocumentsCardsRow/index.css
  src/components/DocumentsCardsRow/index.js
  src/components/FilterTags/index.js
  src/components/pageableList/index.js
  src/lib/store.js
Due: eslint --fix, stylelint --fix

feat: filter by source type
  src/components/DocumentsFilters/index.js
  src/components/DocumentsIndex/index.js
  src/lib/documents.js
  src/lib/elastic-queries.js
  src/lib/insights.js
  src/lib/requests.js
  src/lib/store.js
  src/lib/types.js
  src/routes/document.js
  src/routes/insights.js
Due: eslint --fix

feat: added filter by sources box
  src/components/DocumentsFilters/index.js
  src/components/DocumentsFiltersCheckbox/index.js
  src/components/DocumentsFiltersSelection/index.js
  src/components/DocumentsIndex/index.js
  src/components/FilterTags/index.js
  src/components/InsightsAuthorities/index.js
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsDepartments/index.js
  src/lib/store.js
  src/lib/types.js
Due: eslint --fix

fix: css styles
  src/components/DocumentsFilters/index.js
Due: eslint --fix

fix: map is more narrow now
  src/components/InsightsAuthorities/index.js
Due: eslint --fix

fix: reverted filter boxes style except for sources
  src/components/DocumentsFilters/index.js
Due: eslint --fix

fix: minor edits to the methodology text
  src/components/Methodology/index.js
Due: eslint --fix

feat: added all case studies
  public/images/case-studies.jpg
  public/images/case-studies.png
  public/images/case_avon.jpg
  public/images/case_avon.png
  public/images/case_bristol.jpg
  public/images/case_bristol.png
  public/images/case_camdem.jpg
  public/images/case_camdem.png
  public/images/case_hackney.jpg
  public/images/case_kent.jpg
  public/images/case_manchester.jpg
  src/components/CaseStudies/index.js
Due: eslint --fix

feat: link to final report
  src/components/CaseStudies/index.js
  src/components/Home/index.js
Due: eslint --fix

feat: server sky news locations through the api
  restclient
  src/locations-sky-news.json
  src/routes/impact.js
  src/routes/index.js
  src/server.js
Due: eslint --fix, prettier --write

feat: added sky news impact map
  src/components/DataScores/index.js
  src/components/InsightsVizMapMarker/index.css
  src/components/SkyNews/index.js
  src/lib/requests.js
  src/lib/types.js
Due: eslint --fix, stylelint --fix

refactor(map): incorporate feedback on predictive analytics map
  src/components/DataScores/index.js
  src/components/ImpactPredictiveAnalytics/index.css
  src/components/ImpactPredictiveAnalytics/index.js
  src/lib/requests.js
  src/lib/types.js
  src/routes/impact.js
Due: eslint --fix, stylelint --fix

fix link to data jsutice lab
  src/components/Home/index.js
Due: eslint --fix

refactor: changed url of predictive analytics overview
  src/components/DataScores/index.js
  src/components/ImpactPredictiveAnalytics/index.js
Due: eslint --fix

fix: improved mobile support
  src/components/Header/index.js
  src/components/ImpactPredictiveAnalytics/index.js
  src/components/InsightsAuthorities/index.js
  src/components/InsightsDepartments/index.js
Due: eslint --fix

fix: add missing case-studies image
  public/images/case-studies.png
Due: none

feat: added text and latest data for predictive analytics
  src/components/ImpactPredictiveAnalytics/index.js
  src/locations-sky-news.json
Due: eslint --fix, prettier --write
