Repository critocrito/data-scores-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier-package-json --write, prettier --write, prettier --parser json --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.css": ["stylelint --fix", "git add"],
  "package.json": ["prettier-package-json --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  ".*rc": ["prettier --parser json --write", "git add"]
}

feat: enabled overviews in the menu
  src/components/Header/index.js
Due: eslint --fix

fix: render the details in the predictive analytics map
  src/components/ImpactPredictiveAnalytics/index.js
Due: eslint --fix

feat: allow for advanced search query expressions
  mappings.json
  src/lib/elastic-queries.js
  src/lib/search.js
Due: eslint --fix, prettier --write

fix: add missing analyzer to mappings
  mappings.json
Due: prettier --write

fix: highlight also phrase searches
  src/lib/elastic-queries.js
Due: eslint --fix

fix: add missing mapping fields
  mappings.json
Due: prettier --write

feat: show search help
  src/components/DocumentsIndex/index.js
  src/components/DocumentsIndexHelp/index.js
Due: eslint --fix

visualize case study entities
  src/case-studies-entities.json
  src/components/CaseStudiesEntities/index.js
  src/components/CaseStudiesEntitiesDetails/index.js
  src/components/DataScores/index.js
  src/components/DocumentsIndex/index.js
  src/components/FilterTags/index.js
  src/components/InsightsAuthorities/index.js
  src/components/InsightsDepartments/index.js
  src/components/InsightsVizBubbleChart/index.js
  src/lib/elastic-queries.js
  src/lib/requests.js
  src/lib/search.js
  src/lib/store.js
  src/lib/types.js
  src/routes/document.js
  src/routes/impact.js
  src/server.js
Due: eslint --fix, prettier --write

feat: visualize foi requests entities
  src/components/DataScores/index.js
  src/components/FoiEntities/index.js
  src/components/FoiEntitiesDetails/index.js
  src/foi-entities.json
  src/lib/requests.js
  src/lib/store.js
  src/routes/document.js
  src/routes/impact.js
  src/server.js
Due: eslint --fix, prettier --write
