Repository critocrito/data-scores-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, prettier --parser css --write, prettier --parser json --write

fix(client): Only switch tabs if it's not active.
  src/components/CaseStudies/index.js
  src/components/SidePanel/index.js
Due: eslint --fix

feat(client): Render href_text in document details.
  src/components/DataDetails/index.js
  src/lib/elastic-queries.js
Due: eslint --fix

feat(client): Highlight and search throughout the whole app.
  src/client.js
  src/components/App/index.js
  src/components/CaseStudies/index.js
  src/components/DataDetails/index.js
  src/components/SearchResults/index.css
  src/components/SearchWidget/index.js
  src/lib/documents.js
Due: eslint --fix, stylelint, prettier --parser css --write

chore: Upgraded dependencies and tooling.
  .babelrc
  .eslintignore
  .eslintrc.json
  .flowconfig
  .lintstagedrc
  .nycrc
  .prettierignore
  .prettierrc
  package.json
  src/components/DataDetails/index.js
  src/components/DataNav/index.js
  src/components/SearchResults/index.js
  src/components/SidePanel/index.js
  src/lib/documents.js
  src/lib/requests.js
  src/lib/store.js
  src/server.js
  src/stores/document.js
  src/stores/search.js
  test-setup.js
  webpack.config.js
Due: eslint --fix, prettier --parser json --write

chore: switch to commitlint
  .eslintrc.json
  commitlint.config.js
  package.json
Due: prettier --parser json --write

feat(api): query the data insights
  package.json
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/insights.js
  src/lib/types.js
  src/lib/utils.js
  src/routes/index.js
  src/routes/insights.js
  src/server.js
Due: eslint --fix, prettier --parser json --write

feat(api): query companies and systems insights
  src/company-systems-mapping.js
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/insights.js
  src/lib/types.js
  src/routes/insights.js
  src/server.js
Due: eslint --fix

chore: lint on precommit
  package.json
Due: prettier --parser json --write

feat(api): return all categories
  src/categories.js
  src/lib/insights.js
  src/routes/insights.js
  src/server.js
Due: eslint --fix

refactor(api): renamed keywords to categories
  src/categories.js
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/insights.js
  src/lib/types.js
  src/routes/insights.js
Due: eslint --fix

feat(api): query authorities insights
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/insights.js
  src/lib/types.js
  src/lib/utils.js
  src/routes/insights.js
Due: eslint --fix

feat(api): query document stats
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/insights.js
  src/lib/stats.js
  src/lib/types.js
  src/routes/index.js
  src/routes/stats.js
Due: eslint --fix

refactor(api): removed /api as base path
  src/routes/index.js
Due: eslint --fix

chore: updated restclient for new api and elasticsearch
  restclient
Due: none

feat(client): added a bar chart to the categories insights
  src/components/InsightsCategories/index.js
  src/components/InsightsVizBarChart/index.js
Due: eslint --fix

fix(client): changed keywords to categories in the insights nav
  src/components/InsightsNav/index.js
Due: eslint --fix

refactor(client): renamed click handler prop for filters button
  src/components/DocumentsFilters/index.js
  src/components/DocumentsFiltersButton/index.js
  src/components/DocumentsFiltersSelection/index.js
  src/components/DocumentsIndex/index.js
Due: eslint --fix

fix(client): use a pointer style for the arrow to toggle filters nav
  src/components/Insights/index.js
  src/components/InsightsNav/index.js
Due: eslint --fix

fix(client): improved flow type checking
  src/components/DocumentsFiltersSelection/index.js
Due: eslint --fix

refactor(api): flow types refactor
  src/lib/documents.js
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/insights.js
  src/lib/search.js
  src/lib/stats.js
  src/lib/types.js
Due: eslint --fix

chore: removed old routes in rest client
  restclient
Due: none

chore: updated routes in restclient
  restclient
Due: none

refactor(api): moved types around and unified source fields
  src/lib/elastic-queries.js
  src/lib/types.js
Due: eslint --fix

refactor(api): supply query for document search to elastic search
  src/lib/elastic.js
  src/lib/search.js
  src/routes/search.js
Due: eslint --fix

refactor(api): supply query for document list and show to elastic search
  restclient
  src/lib/documents.js
  src/lib/elastic.js
Due: eslint --fix

refactor(api): supply query for stats to elastic search
  src/lib/elastic.js
  src/lib/stats.js
Due: eslint --fix

refactor(api): supply query for insights to elastic search
  src/lib/elastic.js
  src/lib/insights.js
  src/lib/types.js
Due: eslint --fix

chore: use css variables
  package.json
  postcss.config.js
  src/client.css
Due: eslint --fix, stylelint, prettier --parser css --write, prettier --parser json --write

refactor(client): removed side bar on insights
  src/components/DocumentsTable/index.js
  src/components/InsightsAuthorities/index.js
  src/components/InsightsCategories/index.js
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsCompaniesSystemsRow/index.js
  src/components/InsightsSideRow/index.js
Due: eslint --fix

feat(client): cluster markers on the map and remove the popup
  package.json
  src/components/InsightsVizMap/index.css
  src/components/InsightsVizMap/index.js
  src/components/InsightsVizMapMarker/index.js
  src/components/InsightsVizMapPopup/index.css
  src/components/InsightsVizMapPopup/index.js
Due: eslint --fix, stylelint, prettier --parser css --write, prettier --parser json --write

feat(client): show a stacked groups chart for company-systems insights
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsVizStackedGroups/index.js
Due: eslint --fix

feat(client): select categories on the bar visualization
  src/components/InsightsCategories/index.js
  src/components/InsightsVizBarChart/index.js
  src/lib/store.js
Due: eslint --fix

feat(client): filter documents table based on category selections
  restclient
  src/components/InsightsAuthorities/index.js
  src/components/InsightsCategories/index.js
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsVizBarChart/index.js
  src/lib/documents.js
  src/lib/elastic-queries.js
  src/lib/requests.js
  src/lib/store.js
  src/routes/document.js
Due: eslint --fix

feat(client): show categories in documents table
  src/components/DocumentsTable/index.js
  src/components/DocumentsTableRow/index.js
Due: eslint --fix

feat(client): select authority filters on insight map
  src/components/DocumentsIndex/index.js
  src/components/InsightsAuthorities/index.js
  src/components/InsightsCategories/index.js
  src/components/InsightsCompaniesSystems/index.js
  src/components/InsightsVizMap/index.js
  src/components/InsightsVizMapMarker/index.css
  src/components/InsightsVizMapMarker/index.js
  src/lib/documents.js
  src/lib/elastic-queries.js
  src/lib/requests.js
  src/lib/store.js
  src/routes/document.js
Due: eslint --fix, stylelint, prettier --parser css --write

chore(client): use chromium as default browser for development
  package.json
Due: prettier --parser json --write

fix(client): failing lint on styles
  src/components/InsightsVizMapMarker/index.css
Due: stylelint, prettier --parser css --write

refactor(client): search for documents only on form submit
  package.json
  src/components/DocumentsIndex/index.js
  src/lib/store.js
Due: eslint --fix, prettier --parser json --write

chore: always lint styles
  .lintstagedrc
  package.json
Due: prettier --parser json --write

Path conditions:
  eslint --fix: ((any of: src/**/*.js) or (any of: webpack.config.js)) or (any of: postcss.config.js)
  stylelint: any of: src/**/*.css
  prettier --parser css --write: any of: src/**/*.css
  prettier --parser json --write: ((((any of: *.json) or (any of: .babelrc)) or (any of: .lintstagedrc)) or (any of: .stylelintrc)) or (any of: .nycrc)
