Repository critocrito/data-scores-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write, stylelint, prettier --parser css --write

refactor: Swap code lines around.
  src/components/App/index.js
Due: eslint --fix

chore: Use lintstaged more explicit.
  .lintstagedrc
Due: prettier --parser json --write

refactor: Load external dependencies from a CDN.
  public/index.html
  public/scripts/leaflet.js
  public/scripts/react-dom.production.min.js
  public/scripts/react.production.min.js
  webpack.config.js
Due: eslint --fix

fix: Commented the fallback script loading to avoid weird render issues.
  public/index.html
Due: none

refactor: Don't wait on loading the initial data set for the client.
  src/client.js
  src/components/SidePanel/index.js
  src/lib/requests.js
  src/lib/store.js
Due: eslint --fix

refactor: Disabled all node support for the client and removed the bunyan logger.
  src/client.js
  webpack.config.js
Due: eslint --fix

refactor: Load Chart.js from externa sources.
  public/index.html
  webpack.config.js
Due: eslint --fix

fix: Tightened the city/council types and replaced them with places.
  src/components/MapMarker/index.js
  src/components/MarkerPopup/index.js
  src/components/SidePanel/index.js
  src/lib/city.js
  src/lib/council.js
  src/lib/store.js
  src/lib/types.js
Due: eslint --fix

fix: Set a default value for entities in the store.
  src/lib/store.js
Due: eslint --fix

chore: Enabled travis to lint and deploy.
  .gitignore
  .scripts/build.sh
  .scripts/deploy.sh
  .travis.yml
  data-scores.enc
Due: none

fix: Changed the deploy command.
  .scripts/build.sh
  .scripts/deploy.sh
Due: none

chore: Print deploy time.
  .scripts/deploy.sh
Due: none

fix: Set executabel of build and deploy scripts during travis CI.
  .travis.yml
Due: none

refactor: run build and deploy scripts in any case.
  .scripts/build.sh
  .scripts/deploy.sh
Due: none

chore: Print time during deploy.
  .scripts/deploy.sh
Due: none

fix: Type check all libraries.
  .flowconfig
  flow-typed/randomcolor.js
  flow-typed/react-leaflet.js
  src/components/DataView/index.js
  src/components/MapContainer/index.js
  src/components/SidePanel/index.js
  src/lib/store.js
Due: eslint --fix

chore: Upgrade dependencies.
  package.json
Due: prettier --parser json --write

feat: Run full build cycle on CI.
  .scripts/build.sh
Due: none

fix: Changed compile target to build in build script.
  .scripts/build.sh
Due: none

feat: Make the code work on a much wider selection of browsers.
  .babelrc
  package.json
  postcss.config.js
  webpack.config.js
Due: eslint --fix, prettier --parser json --write

chore: Override install section in travis.
  .travis.yml
Due: none

fix: Use the api path for REST examples.
  restclient
Due: none

feat: Added API endpoint to search for a term.
  .flowconfig
  restclient
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/search.js
  src/lib/types.js
  src/routes/index.js
  src/routes/search.js
Due: eslint --fix

feat: Fix the min zoom and center the map at load more central.
  src/components/MapContainer/index.js
Due: eslint --fix

feat: Render a search bar in the header.
  package.json
  postcss.config.js
  public/index.html
  src/components/App/index.js
  src/components/SearchBar/index.css
  src/components/SearchBar/index.js
  src/components/SearchBar/search.svg
  stories/index.stories.js
Due: eslint --fix, prettier --parser json --write, stylelint, prettier --parser css --write

chore: removed dependency on most.
  package.json
Due: prettier --parser json --write

refactor: Upgraded to latest API of SugarCube.
  src/lib/elastic.js
Due: eslint --fix

refactor: Removed the cities from the listing and simplified the store logic.
  src/client.js
  src/components/DataNav/index.js
  src/components/MapContainer/index.js
  src/components/MapMarker/index.js
  src/components/MarkerPopup/index.js
  src/components/SidePanel/index.js
  src/lib/city.js
  src/lib/council.js
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/requests.js
  src/lib/search.js
  src/lib/store.js
  src/lib/types.js
  src/lib/unit.js
  src/routes/city.js
  src/routes/index.js
Due: eslint --fix

feat(client): Added a basic typeahead search.
  package.json
  src/client.js
  src/components/App/index.js
  src/components/SearchBar/index.js
  src/components/SearchResults/index.css
  src/components/SearchResults/index.js
  src/components/SearchResultsItem/index.css
  src/components/SearchResultsItem/index.js
  src/lib/contexts.js
  src/lib/elastic.js
  src/lib/requests.js
  src/lib/types.js
  src/stores/search.js
  stories/index.stories.js
Due: eslint --fix, prettier --parser json --write, stylelint, prettier --parser css --write

feat(client): View the details of a document.
  .eslintrc.json
  package.json
  public/index.html
  restclient
  src/client.js
  src/components/DataDetails/index.js
  src/components/DataNav/index.js
  src/components/DataView/index.js
  src/lib/contexts.js
  src/lib/elastic.js
  src/lib/requests.js
  src/lib/unit.js
  src/routes/unit.js
  src/stores/document.js
  webpack.config.js
Due: eslint --fix, prettier --parser json --write

fix(api): Fetch single documents even if they don't have locations.
  src/lib/elastic-queries.js
  src/lib/elastic.js
Due: eslint --fix

refactor(client): Load all councils available.
  src/components/DataDetails/index.js
  src/components/MapContainer/index.js
  src/components/MapMarker/index.css
  src/components/MapMarker/index.js
  src/lib/council.js
  src/lib/elastic-queries.js
  src/lib/elastic.js
Due: eslint --fix, stylelint, prettier --parser css --write

fix(api): Remove duplicate councils on the councils list endpoint.
  src/lib/council.js
Due: eslint --fix

fix(client): Removed the debounce from the search input stream.
  src/components/SearchBar/index.js
Due: eslint --fix

feat(client): Load the details of search results.
  src/components/DataDetails/index.js
  src/components/DataNav/index.js
  src/components/SearchResultsItem/index.css
  src/components/SearchResultsItem/index.js
Due: eslint --fix, stylelint, prettier --parser css --write

refactor(client): Tightened types and some code paths.
  restclient
  src/components/DataDetails/index.js
  src/components/MapMarker/index.js
  src/components/SearchResults/index.js
  src/components/SearchResultsItem/index.js
  src/lib/council.js
  src/lib/documents.js
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/requests.js
  src/lib/search.js
  src/lib/types.js
  src/lib/unit.js
  src/routes/document.js
  src/routes/index.js
Due: eslint --fix

refactor(client): Better themes.
  public/index.html
  src/client.css
  src/client.js
  src/components/App/index.css
  src/components/App/index.js
  src/components/CaseStudies/index.js
  src/components/DataNav/index.css
  src/components/MapMarker/index.css
  src/components/SearchBar/index.css
  src/components/SearchBar/index.js
  src/components/SearchResults/index.css
  src/components/SearchResults/index.js
  src/components/SearchResultsItem/index.css
  src/components/SidePanel/index.css
  src/components/SidePanel/index.js
  src/lib/store.js
Due: eslint --fix, stylelint, prettier --parser css --write

fix(client): Removed store method that failed flow.
  src/lib/store.js
Due: eslint --fix

feat(client): Read highlight selection to be used as a search term.
  src/components/CaseStudies/index.css
  src/components/CaseStudies/index.js
  src/components/SearchWidget/index.js
Due: eslint --fix, stylelint, prettier --parser css --write

feat(client): Render the first case study.
  markdown/kent.md
  package.json
  public/images/image2.png
  src/client.js
  src/components/CaseStudies/index.js
  src/components/SearchResults/index.js
  src/components/SearchWidget/index.js
  webpack.config.js
Due: eslint --fix, prettier --parser json --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --parser json --write: (any of: *.json) or (any of: .{babel,lintstaged,stylelint,nyc}rc)
  stylelint: any of: *.css
  prettier --parser css --write: any of: *.css
