Repository critocrito/data-scores-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write, stylelint -i, prettier --parser css --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.json": ["prettier --parser json --write", "git add"],
  ".{babel,lintstaged,stylelint,nyc}rc": [
    "prettier --parser json --write",
    "git add"
  ],
  "*.css": ["stylelint -i", "prettier --parser css --write", "git add"]
}

feat(rest-api): Enabled CORS.
  package.json
  src/server.js
Due: eslint --fix, prettier --parser json --write

chore: Disable formatiing rules for stylelint and leave it to prettier.
  .stylelintrc
  package.json
Due: prettier --parser json --write

feat(css): Import the tachyons CSS framework.
  package.json
  postcss.config.js
  src/client.css
Due: eslint --fix, prettier --parser json --write, stylelint -i, prettier --parser css --write

feat(client): First app grid layout.
  public/index.html
  src/components/App/index.js
  src/components/App/logo.svg
  src/components/DataView/index.js
  src/components/Map/index.js
  src/components/SidePanel/index.js
Due: eslint --fix

feat(client): Render basic map.
  package.json
  postcss.config.js
  src/components/App/index.js
  src/components/Map/index.js
  src/components/MapContainer/index.css
  src/components/MapContainer/index.js
  webpack.config.js
Due: eslint --fix, prettier --parser json --write, stylelint -i, prettier --parser css --write

chore: No inplace style linting on commit.
  .lintstagedrc
Due: prettier --parser json --write

fix(client): Load leaflet marker images.
  package.json
  postcss.config.js
  public/images/layers-2x.png
  public/images/layers.png
  public/images/marker-icon-2x.png
  public/images/marker-icon.png
  public/images/marker-shadow.png
  src/components/MapContainer/index.js
  webpack.config.js
Due: eslint --fix, prettier --parser json --write

chore: Restart server quick in development.
  nodemon.json
Due: prettier --parser json --write

feat(client): Plot markers of cities on the map.
  src/components/MapContainer/index.css
  src/components/MapContainer/index.js
  src/lib/city.js
Due: eslint --fix, stylelint -i, prettier --parser css --write

feat: Include keywords into city list.
  src/components/MapContainer/index.js
  src/lib/city.js
  src/lib/elastic-queries.js
Due: eslint --fix

feat(rest-api): Generate an id for the location list.
  src/lib/city.js
Due: eslint --fix

refactor(client): Extracted the map markers into it's own component.
  src/components/MapContainer/index.js
  src/components/MapMarker/index.css
  src/components/MapMarker/index.js
Due: eslint --fix, stylelint -i, prettier --parser css --write

feat(client): Render a chart for the keywords in the marker popup.
  package.json
  src/components/MapContainer/index.css
  src/components/MapContainer/index.js
  src/components/MapMarker/index.js
  src/components/MarkerPopup/index.css
  src/components/MarkerPopup/index.js
Due: eslint --fix, prettier --parser json --write, stylelint -i, prettier --parser css --write

feat(client): Lower the transparency when hovering over a chart segment.
  .eslintrc.json
  src/components/MapMarker/index.js
  src/lib/colors.js
Due: eslint --fix, prettier --parser json --write

refactor(client): Tightened types and restructured components.
  src/components/App/index.js
  src/components/DataNav/index.js
  src/components/MapContainer/index.js
  src/components/MapMarker/index.js
  src/components/MarkerPopup/index.js
  src/lib/city.js
  src/lib/types.js
Due: eslint --fix

feat(client): Render cities and keywords in the side panel.
  src/components/DataNav/index.js
  src/components/SidePanel/index.js
  src/lib/types.js
Due: eslint --fix

chore: Check flow types using lint-staged.
  .lintstagedrc
Due: prettier --parser json --write

feat(client): Toggle keywords on sidebar.
  package.json
  src/components/DataNav/index.css
  src/components/DataNav/index.js
  src/components/MapContainer/index.js
  src/components/MapMarker/index.js
  src/components/SidePanel/index.css
  src/components/SidePanel/index.js
  src/lib/colors.js
  test/colors.js
Due: eslint --fix, prettier --parser json --write, stylelint -i, prettier --parser css --write

chore: Removed flow from lintstaged.
  .lintstagedrc
Due: prettier --parser json --write

refactor: Avoid threading the selected keywords down the component chain.
  src/components/MapContainer/index.js
  src/components/MapMarker/index.js
Due: eslint --fix

refactor(client): Renaming.
  src/components/DataNav/index.js
  src/components/MapContainer/index.js
  src/components/SidePanel/index.js
Due: eslint --fix

refactor(client): Generate colors by name.
  src/components/MapMarker/index.js
  src/lib/colors.js
  test/colors.js
Due: eslint --fix

feat(client): Toggle between keyword and city listings.
  src/components/DataNav/index.js
  src/components/SidePanel/index.js
Due: eslint --fix

feat(client): Reset selection from list.
  src/components/DataNav/index.js
  src/components/SidePanel/index.js
Due: eslint --fix

chore: Removed old components from scaffolding.
  src/components/App/index.js
  src/components/Button/index.js
  src/components/Counter/index.js
  stories/button.stories.js
  stories/counter.stories.js
  test/button.js
  test/counter.js
Due: eslint --fix

refactor(rest-api): Use types for the domain logic. More types.
  src/lib/city.js
  src/lib/types.js
Due: eslint --fix

refactor(client): Fetch initial data before mounting the react app.
  src/client.js
  src/components/App/index.js
  src/components/DataNav/index.js
  src/components/DataView/index.js
  src/components/MapContainer/index.js
  src/components/MapMarker/index.js
Due: eslint --fix

chore: More flow coverage. Types for the API as well.
  .gitignore
  flow-typed/@sugarcube/plugin-elasticsearch.js
  flow-typed/randomcolor.js
  flow-typed/react-leaflet.js
  src/client.js
  src/components/MapContainer/index.js
  src/components/MapMarker/index.js
  src/components/MarkerPopup/index.js
  src/components/SidePanel/index.js
  src/lib/colors.js
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/logging.js
  src/lib/types.js
  src/routes/city.js
  src/routes/index.js
  src/routes/root.js
  src/server.js
Due: eslint --fix

feat(rest-api): Query all units or filtered by ids.
  package.json
  restclient
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/unit.js
  src/routes/index.js
  src/routes/unit.js
  src/server.js
Due: eslint --fix, prettier --parser json --write

feat(client): Render all documents as a table.
  package.json
  src/client.js
  src/components/App/index.js
  src/components/DataNav/index.js
  src/components/DataView/index.js
  src/components/MapContainer/index.js
  src/components/SidePanel/index.js
Due: eslint --fix, prettier --parser json --write

refactor(client): Extract request methods into separate file.
  src/client.js
  src/components/DataNav/index.js
  src/lib/requests.js
Due: eslint --fix

feat(client): Only fetch initial documents that contains locations.
  src/lib/elastic-queries.js
Due: eslint --fix

refactor(client): Manage state using mobx.
  .babelrc
  .flowconfig
  package.json
  src/client.js
  src/components/App/index.js
  src/components/DataNav/index.js
  src/components/DataView/index.js
  src/components/MapContainer/index.js
  src/components/MapMarker/index.js
  src/components/SidePanel/index.js
  src/lib/store.js
Due: eslint --fix, prettier --parser json --write

feat(client): Map either cities or councils.
  restclient
  src/client.js
  src/components/DataNav/index.js
  src/components/DataView/index.js
  src/components/MapContainer/index.js
  src/components/SidePanel/index.js
  src/lib/council.js
  src/lib/elastic-queries.js
  src/lib/elastic.js
  src/lib/requests.js
  src/lib/store.js
  src/lib/types.js
  src/lib/unit.js
  src/routes/council.js
  src/routes/index.js
Due: eslint --fix

feat(client): Add the title of the current selection.
  src/components/DataNav/index.js
Due: eslint --fix

refactor(client): Selections and resets of the map work as expected.
  src/components/DataNav/index.js
  src/components/SidePanel/index.js
  src/lib/city.js
  src/lib/council.js
  src/lib/store.js
  src/lib/types.js
Due: eslint --fix

feat(client): Improved usability navigating the map.
  src/components/SidePanel/index.js
Due: eslint --fix

fix(client): Toggle city on click.
  src/components/SidePanel/index.js
Due: eslint --fix

refactor: Hardcode the API URL.
  src/lib/requests.js
  src/routes/index.js
Due: eslint --fix

refactor: Use environment variables to configure the client app.
  README.md
  src/lib/requests.js
Due: eslint --fix
